# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.project
.settings/

# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Maven
target/

# Gradle
build/

# User-specific files
*.iml
*.ipr
*.iws
*.idea/

# Mac OS
.DS_Store

# Windows
Thumbs.db
